.navigation {
  display: flex;
  align-items: center;

  margin: 26px;
}
.logo-one {
  display: flex;
  align-items: center;
}
.nav-menu {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-right: 73px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  margin: 0 21px;
  width: 105px;
  height: 42px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
