body {
  font-family: "Poppins", sans-serif;
}

.navigation {
  display: flex;
  align-items: center;

  margin: 26px;
}
.logo-one {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-menu {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-right: 73px;
}
.nav-menu a {
  color: #000000;
}
.logo-two {
  font-size: 30px;
  color: #173a56;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 0.93333;
  padding-right: 237px;
}
.button-get {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border: none;
}
.button-two {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: #fff;
  border: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.button-one {
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #bcd0e5;
  color: #173a56;
  background-color: #fff;

  border-radius: 4px;
}
.two .container {
  flex-direction: column;
}
.menutwo {
  display: flex;
}
.button-now {
  margin: 50px;
}
h2 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}
.button {
  margin-left: 21px;
  background: #02897a;
  height: 42px;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  padding: 0 20px;
  width: 1150px;
  margin: 0 auto;
}
.solutions {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
  margin-right: 13px;
}
.container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.tools {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  padding-bottom: 45px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
.section-one {
  padding-bottom: 100px;
}
